/main.py
/.idea/.name
/.idea/backtest_library.iml
/backtest_model.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/showcase 1.ipynb
/.ipynb_checkpoints/showcase 1-checkpoint.ipynb
/.idea/vcs.xml
/.idea/workspace-battlestationZed.xml
